*{
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   box-sizing: border-box;
	-webkit-appearance: none;
}

body{
	color: #575757;
	font-family: 'Open Sans', Arial, sans serif;
	text-align: center;
}
.main{
	width: 80%;
	margin: auto;
	margin-top: 150px;
}
h1{
	color: #11755D;
	font-family: 'Permanent Marker', cursive;
	font-size: 50px;
}
h1:hover{
	color: red;
}
.list-field{
	margin-top: 15px;
}
input{
	width: 50%;
	line-height: 30px;
	margin: auto;
	border-radius: 10px;
	border-width: thin;
	border-style: solid;
	border-color: #11755D;
}

input:hover {
	border-color: #8b8b8b;
}
input:focus {
  border-style: solid;
	border-width: thin;
	border-color: black;
	outline: none;
}
button{
  width: 10%;
  line-height: 32px;
  background: red;
  border-radius: 10px;
  text-align: center;
  color: white;
  font-weight: bold;
}
button:focus{
	outline: none;
}
.list{
	width: 55%;
	margin: auto;
}
#listed-item{
	width: 90%;
	line-height: 1.5;
	margin-top: 20px;
	border-radius: 5px;
	list-style-type: none;
}
.added-item{
	width: 100%;
	position: relative;
	background-color: #11755D;
	border-radius: 13px 8px 8px 3px;
	margin-left: -20px;
	margin-top: 5px;
	padding: 8px;
	cursor: pointer;
	color: #ffffff;
}

.added-item img{
	background: url('../img/deleted.png')no-repeat;
	position: absolute;
	color: #ffffff;
	left: 15px;
	top: 8px;
	display: none;
}

.remove{
	font-size: 20px;
	font-weight: bolder;
	text-decoration: line-through;
}
