*{
	margin: 0;
	padding: 0;
	-moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
	-webkit-appearance: none;
}

body{
	color: #575757;
	font-family: 'Open Sans', Arial, sans serif;
	text-align: center;
}
.main{
	width: 80%;
	margin: auto;
	margin-top: 20px;
}
.list-field{
	margin-top: 40px;
}
.list-field input{
	width: 50%;
	line-height: 30px;
	margin: auto;
	border-radius: 10px;
	border: 1px solid #005500;
}